**/__pycache__
**/.ipynb_checkpoints
**/*.py[cod]
**/*.swp
**/*.bak
**/*.tmp
.venv
venv
.venv_co2
data/
notebooks/
tests/
*.git
*.gitignore
Dockerfile
*.md
LICENSE
.env
**/.DS_Store
airflow/*
pipeline_logs/
drivers
notes.md
logs/
*.sh
commands_utils.txt
secrets.py

sql/
experiments/
data/
